:root{
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-blue: #2196F3;
  --accent-white: #FFFFFF;
}

body {
  color: var(--main-text-color);
  background-color: var(--accent-white);
}

.list{
  list-style: none;
}

.link{
  text-decoration: none;
}

.logo{
  color: var(--accent-blue);
}

.logo-heder{
  color: #000000;
}

/* Site nav */
.site-nav .link {
  color: var(--main-text-color);
}

.site-nav .current{
  color: var(--accent-blue);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-blue);
}

.auth-nav .link{
  color: var(--secondary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-blue);
}

/* Hero */

.hero{
  background-color: #2F303A;
}

.hero-title{
  color: var(--accent-white);
}

.btn-portfolio{
  color: var(--main-text-color);
  background-color: #F5F4FA;
}

.btn,   
.btn-portfolio:hover,
.btn-portfolio:focus{
  color: var(--accent-white);
  background-color: var(--accent-blue);
}

.btn:hover,
.btn:focus{
  color: var(--accent-blue);
  background-color: var(--accent-white);
}

/* Section */
.list-paragraph{
  color: var(--secondary-text-color);
}

/* Footer */

.logo-footer{
  color: var(--accent-white);
}

.footer{
  background-color: #2F303A;
  font-style: normal;
}

.adress{
  color: var(--accent-white);
}

.adress:hover,
.adress:focus{
  color: var(--accent-blue);
}

.contacts{
  color: rgba(255, 255, 255, 0.6);
}

.contacts:hover,
.contacts:focus{
  color: var(--accent-blue);
}

